<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Радченко Віталій</mat-card-title>
    <mat-card-subtitle>Виконав тестове завдання</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="../../../assets/me/Radchenko_Vitalii.jpg" alt="My photo">
  <mat-card-content>
    <p>Навчаюсь на 6-му курсі спеціальність "Комп'ютерні науки" в Національному університеті харчових технологій.
      Бакалавра закінчив у 2018р. Комерційний досвід розробки відсутній, виконував лише невеликі завдяння для проекта друзів
      та коли вивчав Web.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <a href="https://github.com/put4er" target="_blank"><button mat-raised-button color="primary">Git</button></a>
  </mat-card-actions>
</mat-card>
